
.first{
    background-color: #e0bdf275;
    font-size: xx-large;
    border: 1px outset blueviolet;
    border-radius: 20px 100px 100px 20px;
}
.first h1{
    color: #5a4066;

}
.olLi{
    text-decoration: underline;
}
.second{
    display: flex;
    float: right;
    margin-right: 80px;
    border: 3px #5a4066 double;
    border-radius: 30px;
    
}
.img{
    margin-left: 20px;
    margin-top: 42px;
    border: 1px solid black;
    border-radius: 10px;
}
