body {
    background-color:rgb(194, 167, 191);
}
body{
    color: white;
}
.info{
    background-color:rgb(239, 221, 235) ;
    width: 450px;
    border-radius: 55px;
    font-family:'Times New Roman', Times, serif ;
    font-size: larger;
}
.info 
div p{
    color: black;
}
.gif{
    margin-left: 60px; 
    
}
.about
ul{
    list-style: disc;
}
.about{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 6px 5px 5px rgb(78, 42, 54);
    
}
.about
p{
    font-size: x-large;
}